{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #d35050;
        color: #fff;
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
    }

    .form-control {
        border-radius: 5px;
    }

    .btn-primary {
        border-radius: 5px;
        background-color: #d35050;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">Editar Ingreso Único</div>
                <div class="card-body">
                    <form method="POST" action="{% url 'editar_ingreso_unico' ingreso.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ ingreso.nombre }}" required>
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="text" name="cantidad" id="cantidad" class="form-control"  pattern="[0-9]+(\.[0-9]{1,2})?" required title="Por favor, introduce de maximo dos decimales (por ejemplo, 123.45)">

                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha:</label>
                            <input type="date" id="fecha" name="fecha" class="form-control" value="{% if ingreso.fecha %}{{ ingreso.fecha|date:"Y-m-d" }}{% endif %}" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="categoria">Categoría:</label>
                            <select name="categoria" id="categoria" class="form-control" required>
                                <option value="">Seleccionar categoría</option>
                                <option value="Salario" {% if ingreso.categoria == 'Salario' %} selected {% endif %}>Salario</option>
                                <option value="Ventas" {% if ingreso.categoria == 'Ventas' %} selected {% endif %}>Ventas</option>
                                <option value="Bonificaciones" {% if ingreso.categoria == 'Bonificaciones' %} selected {% endif %}>Bonificaciones</option>
                                <option value="Comisiones" {% if ingreso.categoria == 'Comisiones' %} selected {% endif %}>Comisiones</option>
                                <option value="Alquiler" {% if ingreso.categoria == 'Alquiler' %} selected {% endif %}>Alquiler</option>
                                <option value="Inversiones" {% if ingreso.categoria == 'Inversiones' %} selected {% endif %}>Inversiones</option>
                                <option value="Pensiones" {% if ingreso.categoria == 'Pensiones' %} selected {% endif %}>Pensiones</option>
                                <option value="Subsidios" {% if ingreso.categoria == 'Subsidios' %} selected {% endif %}>Subsidios</option>
                                <option value="Regalos" {% if ingreso.categoria == 'Regalos' %} selected {% endif %}>Regalos</option>
                                <option value="Otros" {% if ingreso.categoria == 'Otros' %} selected {% endif %}>Otros</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // para poder poner la cantidad
    document.addEventListener('DOMContentLoaded', function() {
    var cantidadInput = document.getElementById('cantidad');
    var ingresoCantidad = "{{ ingreso.cantidad }}";
    // Reemplazar comas con puntos
    ingresoCantidad = ingresoCantidad.replace(',', '.');
    if (ingresoCantidad !== "") {
        cantidadInput.value = ingresoCantidad;
    }});
</script>
{% endblock %}
